/*//////////////////////////////////////////////// FONTS */
@font-face {
    font-family: 'Gobold';
    src: url('../fonts/Gobold.eot');
    src: url('../fonts/Gobold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gobold.woff2') format('woff2'),
         url('../fonts/Gobold.woff') format('woff'),
         url('../fonts/Gobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: "Euclid Circular Light";
  src: url("../fonts/EuclidCircularA-Light.eot");
  src: local("../fonts/Euclid Circular A Light"),
    local("../fonts/EuclidCircularA-Light"),
    url("../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/EuclidCircularA-Light.woff2") format("woff2"),
    url("../fonts/EuclidCircularA-Light.woff") format("woff"),
    url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
// @font-face {
//   font-family: "Euclid Circular Regular";
//   src: url("../fonts/EuclidCircularA-Regular.eot");
//   src: local("../fonts/Euclid Circular A Regular"),
//     local("../fonts/EuclidCircularA-Regular"),
//     url("../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/EuclidCircularA-Regular.woff2") format("woff2"),
//     url("../fonts/EuclidCircularA-Regular.woff") format("woff"),
//     url("../fonts/EuclidCircularA-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Euclid Circular Medium";
//   src: url("../fonts/EuclidCircularA-Medium.eot");
//   src: local("../fonts/Euclid Circular A Medium"),
//     local("../fonts/EuclidCircularA-Medium"),
//     url("../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/EuclidCircularA-Medium.woff2") format("woff2"),
//     url("../fonts/EuclidCircularA-Medium.woff") format("woff"),
//     url("../fonts/EuclidCircularA-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Euclid Circular SemiBold";
//   src: url("../fonts/EuclidCircularA-SemiBold.eot");
//   src: local("../fonts/Euclid Circular A SemiBold"),
//     local("../fonts/EuclidCircularA-SemiBold"),
//     url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"),
//     url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"),
//     url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Euclid Circular Bold";
//   src: url("../fonts/EuclidCircularA-Bold.eot");
//   src: local("../fonts/Euclid Circular A Bold"),
//     local("../fonts/EuclidCircularA-Bold"),
//     url("../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"),
//     url("../fonts/EuclidCircularA-Bold.woff") format("woff"),
//     url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
// }



@font-face {
  font-family: 'EuclidCircular';
  src: url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Regular-WebM.woff2')
      format('woff2'),
    url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Regular-WebM.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircular';
  src: url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Bold-WebM.woff2')
      format('woff2'),
    url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Bold-WebM.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircular';
  src: url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Light.woff2')
      format('woff2'),
    url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircular';
  src: url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Medium-WebM.woff2')
      format('woff2'),
    url('https://storage.googleapis.com/graph-fonts/EuclidCircular/EuclidCircularA-Medium-WebM.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}
