.header {
    width: 100vw;
    overflow: hidden;
    position: fixed;
    background: black;
    z-index: 15;
    top: 9px;
    left: 0;
    transition: all .3s ease-in-out;
    border-bottom:1px solid #FC307B;
 
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 12px 0;
      transition: all .3s ease-in-out;
  
      @media only screen and (max-width:668px) {
        padding: 4.25px 0;
  
      }
      @media only screen and (max-width:600px) {
       justify-content: space-between;
      }
  
      a {
        position: relative;
  
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
  
        &:hover::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
  
      .line {
        height: 43px;
        width: 1px;
        background: #333333;
        margin: 0 45px;
        transition: all .3s ease-in-out;
       
  
        @media only screen and (max-width:768px) {
          height: 28px;
          margin: 0 20px;
        }
        @media only screen and (max-width:600px) {
          display: none;
        }
        
      }
  
      .whitePaper,.lqd {
        color: white;
        line-height: 21px;
        font-family:'EuclidCircular', Arial;
        font-weight: 600;
  
        @media only screen and (max-width:600px) {
          display: none;
        }
      }
      .lqd {
        margin-left: 43px;
      }
  
      .telegramHeaderIcon {
        margin-right: 20px;
        @media only screen and (max-width:400px){
          margin-right: 15px;
        }
      }
      .icons {
        margin-left: auto;
        @media only screen and (max-width:600px) {
          display: none;
        }
      }
      
  
      .imgLogo {
        transition: all .3s ease-in-out;
        @media only screen and (max-width:768px) {
          max-width: 48px;
        }
      }
    }
  }
  
  .topBorder {
    height: 9px;
    background-image: url('../images/Nav/topborder.png');
    transition: all .3s ease-in-out;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
  
  .small {
    @media only screen and (min-width:667px) {
      height: 50px !important;
  
      .line {
        height: 28px !important;
        margin: 0 20px !important;
      }
  
      .imgLogo {
        max-width: 48px;
      }
  
      .whitePaper,.lqd {
        font-size: 14px;
        line-height: 19px;
      }
  
      .container {
        padding: 4.25px 0;
      }
    }
  
  
  }
  
  .mobileMenu {
    display: none;
  
    
  
    @media only screen and (max-width:600px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      
    }
  
    .line {
      margin: 0 20px !important;
      @media only screen and (max-width:600px) {
        display: none;
      }
    }

  
  }
  
  .sidePanel {
    position: fixed;
    z-index: 99;
    width: 100vw;
    top: 50px;
    opacity: 0;
    left: -100vw;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width:600px){
      display: none;
    }
  
    .container {
      padding-top: 9px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      margin-top: 60%;
      transform: translateY(-50%);
      justify-content: space-between;
    }
  
    a {
      color: white;
      font-size: 34px;
      line-height: 40px;
      font-family:'EuclidCircular', Arial;
      text-align: center;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  
    &-active {
      left: 0;
      opacity: 1;
    }
  }

  .bg-black {
    background-image: unset !important;
    background: black !important;
  }

  .headerB0 {
    border:none;
  }

  .invisible {
    opacity: 0;
  }